{% extends "layout.html" %}

{% block head %}

<style>
  header {position: sticky;}
  #nav {
    background-color: black;
    opacity: 0.4;
  }
</style>
<script>
  function scrollFunction() {
    let logo = document.getElementById("logo")
    let navbar = document.getElementById("nav")
    let logopequeño = document.getElementById("logopequeño")
    let scrollPosition = window.scrollY;
    if (scrollPosition >= 500) {
        logo.style.visibility = "hidden";
        logopequeño.style.visibility = "visible";
        navbar.style.backgroundColor = "black";
        navbar.style.opacity = 0.4;
    }
    else {
        logo.style.visibility = "visible";
        logopequeño.style.visibility = "hidden";
    }

  };
  window.onscroll = scrollFunction;
</script>

{% endblock %}

{% block title %}

    Proyectos

{% endblock %}

{% block main %}
<div class="album py-3 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for proyecto in proyectos %}
      <div class="col" id="tarjetaproyecto">
        <div class="card shadow-sm">
          <img src="/static/{{proyecto}}/1.jpg" class="d-block w-100" style="height: 419.33px">
          {% set proyecto = proyecto.replace("_"," ") %}
          <div class="card-body">
            <h5 class="card-title">{{ proyecto }}</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <form action="/proyectos" method="get">
                  <input class="form-control" style="visibility: hidden;" id="proyecto" name="proyecto" value="{{ proyecto }}">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">Ver Proyecto</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}